body{
	/*margen*/
	margin:0;
	/*relleno*/
	padding:0;
}

/*contenedor de cajas*/
.contenedor{
	/*margen*/
	margin:0;
	/*relleno*/
	padding:0;
}
/*dimesion de todas las cajas (.class="caja")*/
.caja{
	width:200px;
	height: 200px;
	/*agregando posision absoluta, se define en relacion a los bordes */
	position: absolute;
}
/*id de caja especifica con diferentes detalles */
#rosa{
	background-color: #EE3E64;
	left:0;
	top:0;
}
#azul{
	background-color: #2B7DB9;
	right:0;
	top: 0;
	/*para mover el cuadrado azul, ocuparemos position: relative;, para que pueda moverse bajo sus coordenadas
	position: relative;*/
	/*muevete 200px a la izquierda*/
	
}
#verde{
	background-color: #B7D84B;
	left:0;
	bottom: 0;
}
#amarilla{
	background-color:#FAFF16;
	right: 0;
	bottom: 0;
}