body{
	/*margen*/
	margin:0;
	/*relleno*/
	padding:0;
}

/*contenedor de cajas*/
.contenedor{
	/*margen*/
	margin:0;
	/*relleno*/
	padding:0;
}
/*dimesion de todas las cajas (.class="caja")*/
.caja{
	width:200px;
	height: 200px;
	/*agregando posision absoluta, se define en relacion a los bordes */
	position: absolute;
}
/*id de caja especifica con diferentes detalles */
#rosa{
	background-color: #EE3E64;
}
#azul{
	background-color: #2B7DB9;
	/*para mover el cuadrado azul, ocuparemos position: relative;, para que pueda moverse bajo sus coordenadas*/
	position: relative;
	/*muevete 200px a la derecha*/
	left: 200px;
}
#verde{
	background-color: #B7D84B;
}