body{
	/*margen*/
	margin:0;
	/*relleno*/
	padding:0;
}

/*contenedor de cajas*/
.contenedor{
	/*margen*/
	margin:0;
	/*relleno*/
	padding:0;
}
/*dimesion de todas las cajas (.class="caja")*/
.caja{
	width:200px;
	height: 200px;
	
}
/*id de caja especifica con diferentes detalles */
#rosa{
	background-color: #EE3E64;
	
}
#azul{
	background-color: #2B7DB9;
	position:absolute;
	top: 200px;
	left: 200px;
	
}
#verde{
	background-color: #B7D84B;
	
}
#amarilla{
	background-color:#FAFF16;
	
}